@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

body{
    color: #ffffff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
}
#header-nav{
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
}
.logo{
    padding: 0px 10px 0px 0px;
}
.nav-item {
    text-align: center;
    color: black;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.nav-item:hover{
 background-color: #61122f; 
 transition: 0.4s; 
}
.nav-link:hover{
    color: white;
}
.container-fluid #main-img{
    padding: 30px;
    border-radius: 40px;
}
#menu-tile, #special-tile, #map-tile{
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid #3f0c1f;
    overflow: hidden;
}
#menu-tile:hover, #special-tile:hover, #map-tile:hover{
    box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-tile{
    background: url('../images/FtT3KUwWcAIUr1X.jpg');
    background-position: center;
    background-size: cover;
}
#special-tile{
    background: url('../images/1469922004.jpg');
    background-position: center;
    background-position: center;
    background-size: cover;
}
#menu-tile span, #special-tile span, #map-tile span{
    position: absolute;
    bottom:0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: 0.8;
}
.panel-footer{
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #222;
    border-top: 0;
    color: white;
}
.panel-footer div.row{
    margin-bottom: 35px;
}
#hours, #address{
    line-height: 2;
}
#hours > span, #address > span{
    font-size: 1.3em;
}
#address p{
    color: #557c3e;
    font-size: .8em;
    line-height: 1.8;
}
#testimonials{
    font-style: italic;
}
#testimonials p:nth-child(2){
    margin-top: 25px;
}
.category-title{
    position: relative;
    border: 2px solid #3f0c1f;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto 15px auto;
}
.category-title span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: 0.8;
}
.category-title:hover{
    box-shadow: 0 1px 5px 1pc #cccccc;
}
#menu-categories-title + div{
    margin-bottom: 50px;
}
.menu-item-title{
    margin-bottom: 25px;
}
/* .menu-item-title hr{
} */
.menu-item-title .menu-item-price{
    font-size: 1.1em;
    text-align: left;
    margin-top: -15px;
    margin-right: -15px;
}
.menu-item-title .menu-item-price span{
    font-size: 0.6em;
}
.menu-item-photo{
    position: relative;
    border: 2px solid #3f0c1f;
    overflow: hidden;
    padding: 0;
    margin-right: -15px;
    margin-bottom: 20px;
    max-width: 250px;
}
.menu-item-photo div{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    background-color: #557c3e;
    text-align: center;
}
.menu-item-description{
    padding-right: 30px;
}
.menu-item-titles{
    margin: 0 0 10px;
}
.menu-item-details{
    font-size: 0.9em;
    font-style: italic;
}

@media(min-width:445px) and (max-width: 575px){
    #menu-tile, #special-tile{
        width: 350px;
        margin: 0px auto 15px auto;
    }
    .panel-footer section{
        margin-bottom: 30px;
        text-align: center;
    }
    .panel-footer section:nth-child(3){
        margin-bottom: 0;
    }
    .panel-footer section hr{
        width: 100%;
    }
}
@media(max-width:575px){
    .menu-item-photo{
        margin: auto;
    }
    .menu-item-title .menu-item-price{
        text-align: center;
        padding-top: 15px;
    }
    .menu-item-description{
        text-align: center;
    }
}